/**
  * @name Gruvbox
  * @author acicco
  * @description It's Gruvbox baby!
  * @website https://github.com/acicco/Gruvbox-DiscordTheme
  * @version 1.0.0
*/
/*
╔════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╗
║ Theme Settings                                                                                                     ║
╠══════════════════════════╦═════════════════════════════════════════════════════════════════════════════════════════╣
║ Theme:                   ║ Gruvbox                                                                                 ║
║ version:                 ║ 1.0.0                                                                                   ║
║ author:                  ║ acicco                                                                                  ║
╠══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╣
║                                                                                                                    ║
║ Best Development theme there is, inspired by https://github.com/morhetz/gruvbox                                    ║
║                                                                                                                    ║
╚════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝
*/

:root {
    --bg0_h: #1d2021;
    --bg1: #3c3836;
    --bg2: #504945;
    --bg4: #7c6f64;
    --fg: #ebdbb2;

    --background-primary: var(--bg0_h);
    --background-secondary: var(--bg1);
    --background-secondary-alt: var(--bg1);
    --background-tertiary: var(--bg1);

    --btn-bg-primary: var(--bg1);
    --btn-bg-secondary: var(--btn-bg-primary);
    --btn-bg-primary-hover: var(--bg2);
    --btn-bg-secondary-hover: var(--bg2);

    --text-normal: var(--fg);
    --header-primary: var(--bg4);
}

/* Main people column */
.peopleColumn-29fq28,
.peopleList-3c4jOR {
    background: var(--bg0_h);
}

/* Typing bar */
.attachButton-2WznTc,
.textArea-12jD-V,
.buttons-3JBrkn,
.scrollableContainer-2NUZem {
    background: var(--bg1);
}
